.header {
  /* height: 50px; */
  background-color: blue;
  padding: 30px;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

.header li {
  color: white;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}
